# Django Settings
SECRET_KEY=your-secret-key-here
FIELD_ENCRYPTION_KEY=your-fernet-key-here  # genera con: python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
DEBUG=False
ALLOWED_HOSTS=your-app-name.herokuapp.com

# Database (Heroku will provide this automatically)
DATABASE_URL=postgresql://user:password@host:port/dbname

# Email Configuration
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password
