{% extends "base.html" %}
{% load static %}

{% block title %}Emetti Lettera Richiamo - ModularBEF{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'users:lettera_richiamo_list' %}">Lettere Richiamo</a></li>
<li class="breadcrumb-item active">Nuova Lettera</li>
{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card border-danger">
                <div class="card-header bg-danger text-white">
                    <h4 class="mb-0"><i class="bi bi-exclamation-triangle me-2"></i>Emetti Lettera di Richiamo</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-flex justify-content-between mt-4 pt-3 border-top">
                            <a href="{% url 'users:lettera_richiamo_list' %}" class="btn btn-secondary">Annulla</a>
                            <button type="submit" class="btn btn-danger">Emetti Lettera</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
